@charset "UTF-8";

.logo{
    border: 1px solid black;
	width : 100vw;
	height : 100vh;
	font-size: xx-large; 
	text-align: center;
	background-image: url("../picture/bglogo.png");
	background-size: contain;

}


#choonDiv{
	display : flex;
	position: absolute;
	margin-bottom: 30%;
	left : 20%;
	font-size: 100px;
	color : rgba(0,0,0,50%);
	
}




