@charset "UTF-8";





#boardInsertForm{
	    justify-content: center;
   text-align: center
   
   
}

#b_title{
 width: 50%;
 height: 20px;
}

#b_content
{ width: 50%;}


#b_writer
{
	border: none;
	width: 10%;
	
}
#div_b_writer
{
	width: 75%;
   text-align: right;
}

