@charset "UTF-8";


#footerMain{

	height: 50%;
	width: 80%;

	
}

ul{list-style: none;
   
}

#liemail{font-size: 30px;}


#footerMesege{font-size: 30px;}

#footerlist{
 	margin-top: 100px; 
 	
	
}

#footer{
    margin-top : 20%; 
	height: 50%;
	width: 100%;


}
