@charset "UTF-8";

.cmt_modal_wrap{
	display: none;
	width: 500px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #eee;
	z-index: 2;
}

.cmt_modal_wrap button{
	width: 17%;
    height: 52px;
    float: right;
    margin-right: 4px;
    border: 1px solid black;
}

#cmt_content{
	width: 80%;
	height: 46px;
	
}

.restroom_comment_modal{
	
}