

#center{
   margin-top : 10%;
	height: 50%;
	width: 100%;
	justify-content: center;
	display: flex;

}

#centerMain{
	border: 1px dashed black;
	height: 100%;
 	width: 100%; 

}
#centerLogo{
	border-bottom: 1px dotted black;
	height: 5%;
	width: 100%;

 	 background-color: #d5d5d5;
}


h2{font-size: 20px;
margin-left: 5%;
margin-bottom: 2%;
}


#centertable{
	height: 100%;
    width: 100%; 
    border-top: 1px solid #444444;
    border-collapse: collapse;
  border-bottom: 1 solid black;
}




#user_pw , #user_Rpw , #user_addr , #user_email {
	width: 60%
}


#user_id , #user_addr , #user_nick {
	
	
	width: 30%
}


input {
	font-size: 25px;
	margin-bottom: 1%;
	height: 40px;
	border : none;
	border-bottom: 1px solid black;
}

inputSize{
	font-size: 8px;
}

th{
	font-size: 35px;
}
tr{
	border-bottom: 1px dotted black;

}




button {
    margin: 20px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}


#regist{width: 100%;
font-size: 40px;
height: 70px;
}