@charset "UTF-8";

/* 여기서부터 모달창 css */
.modal_wrap {
	display: none;
	width: 500px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #eee;
	z-index: 2;
	
}

.black_bg {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
}

#delete_cont{
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	left : 20%;
	top : 20%;
}

#password_con{
	width : 250px;
	height : 20px;
}

/* 모달창 css fin */

/* 상세정보 모달창 */

.black_background {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_wrapper {
	display: none;
	width: 500px;
	height: 80%;
	position: absolute;
	 margin-left : 25%;
	 margin-top : 10%;
	background: #eee;
	z-index: 2;
	
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
}

#more_info{
	height : 100%;
	background-color : white ;
}

