@charset "UTF-8";

/* 여기서부터 모달창 css */


#deletediv
{
	text-align: center;
}

#delete_fin , #cancel
{
	width: 100px;
    height: 50px;
    color: white;
    background-color: black;
        font-size: 15px;
}

.modal_wrap {
	display: none;
	width: 500px;
	height: 300px;
	position: absolute;
	left: 45%;
	top : 45%;
	margin: -250px 0 0 -250px;
	background: #eee;
	z-index: 2;
 	font-size: 30px; 
	
}

.black_bg {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_close {
	width: 25px;
	height: 30px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
	
}

#delete_cont{
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	left : 30%;
	top : 30%;
}

#password_con{
	width : 250px;
	height : 20px;
}

/* 모달창 css fin */

/* 상세정보 모달창 */

.black_background {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_wrapper {
	display: none;
	width: 100%;
	height: 60%;
	position: absolute;
	margin-top : 14%;
	background: rgb(255, 255, 255);
	z-index: 2;
	
	
}

.modal_close>a {
/* 	display: block; */
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
	  background-size: contain;
}

#more_info{
	height : 100%;
	background-color : white ;
	
}



 #modalList > input{
	border: none;
	font-size: 23px;
  
 }
 
#modalList >  #result_address_load  , #result_address_location{
		width: 70%;
}
	    


#modalList{
	width: 100%;
    margin-top: 5%;
    font-size: 20px;
  
 }	 
	
