 @charset "UTF-8"; 

html, body{
	margin: 0;
}

.Logo {
	font-size: 2cm;
}

.headMain {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
	justify-content: center;
	display: flex;
}

#titleArea{
	justify-content: center;
	display: flex;
}

#center {
	/* border: 2px dotted black; */
	/* height: 700px; */
	/* width: 90%; */
	/* margin-left: 100px; */
	
	/* display: flex; */
	/* flex-direction: column; */
}

#center1 {
	border: 1px dotted black;
	height: 100px;
	width: 100%;
	justify-content: center;
	display: flex;
}

#centerMain{
	border: 1px dashed black;
	margin: 0 auto;
	width: 90%;
	/* height: 100%; */
}

#centerLogo{
	border-bottom: 1px dotted black;
	height: 5%;
	width: 100%;
	background-color: #d5d5d5;
}

#centerspan{
	font-size: 20px;
}

#centertable{
	/* height: 100%; */
	width: 100%; 
	border-top: 1px solid #444444;
	border-collapse: collapse;
	border-bottom: 1 solid black;
}

th, td {
	border-bottom: 1px dashed #444444;
	padding: 10px;
}
/* tr > css선택자 변경 */
#centertable > tbody > tr > td:first-child{
	font-size: 20px;
}

#nickBtn{
	border-bottom: none;
}

input {
	height: 40px;
	border : none;
	border-bottom: 1px solid black;
	/* margin-left: 50px; */
	height: 70px;
	/* width:  200px; */
	/* margin-top: 10px; */
	font-size : 30px;
}

#update{
	margin-left: 35%;
}

/* 각 인풋태그 스타일을 클래스로 통일했습니다. */
/*
#user_pw, #user_Rpw, #user_email{
	width:  80%;
}
#user_pw{
	   width:  400px;
}

#user_addr{
	   width:  400px;
}

#bg_email{
	 width:  400px;
}
*/
/* 회원정보 수정 테이블 중 input태그 스타일 */
.mod_input_with_button{
	
}

.mod_input{
	width: 100%;
}

.footer_list > li{
	margin: 3px;
}

#footer{
	height: 500px;
	width: 80%;
	margin-left: 100px;
	margin-top: 100px;
}

ul{
	list-style: none;
}

#liemail{
	font-size: 40px;
}

#updateChang{
	height: 50px;
	width: 80%;
	margin-left: 100px;
}

#updateBtn{
	margin-left: 550px;
}

#delete{
	margin-left: 10%;
}



