<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.projectBG.BG.mapper.AdminRestroomMapper">
	<!-- study.projectBG.BG.model.MapDTO -->
	
	<update id="updateRestroom">
		UPDATE restroom SET category=#{category}, restroom_name=#{restroom_name}, address_load=#{address_load}, address_location=#{address_location}, is_public_gender=#{is_public_gender}, c_man_closet=#{c_man_closet}, c_man_urinal=#{c_man_urinal}, c_man_disable_person_closet=#{c_man_disable_person_closet}, 
		c_man_disable_person_urinal=#{c_man_disable_person_urinal}, c_man_child_closet=#{c_man_child_closet}, c_man_child_urinal=#{c_man_child_urinal}, 
		c_woman_closet=#{c_woman_closet}, c_woman_disable_person_urinal=#{c_woman_disable_person_urinal}, c_woman_child_closet=#{c_woman_child_closet}, manage_group_name=#{manage_group_name}, call_number=#{call_number}, 
		open_day_info=#{open_day_info}, opening_time=#{opening_time}, closing_time=#{closing_time}, installation_date=#{installation_date}, wgs84_latitude=${wgs84_latitude}, wgs84_longitude=${wgs84_longitude}, owner_name_group=${owner_name_group}, installation_details=${installation_details}, 
		sewage_care_processing=#{sewage_care_processing}, have_emergency_bell=#{have_emergency_bell}, emergency_bell_location=${emergency_bell_location}, have_entrance_cctv=${have_entrance_cctv}, have_diaper_switchboard=${have_diaper_switchboard}, diaper_switchboard_location=#{diaper_switchboard_location}, remodeling_date=#{remodeling_date}, db_update_date=#{db_update_date} 
		WHERE id=#{id};
	</update>
	
	
	<select id="showRestroomList" resultType="study.projectBG.BG.model.MapDTO">
		SELECT * FROM restroom
	</select>
	
	  <!-- MySQL-->
    <!-- 게시물 목록(페이징) -->
    <select id="getListPaging" resultType="study.projectBG.BG.model.MapDTO">
        select * from restroom order by id desc
        <!-- limit ((${pageNum}-1)*${amount}), ${amount} -->
        limit #{skip},#{amount}
    </select>
    
    <select id="getTotal" resultType="int">
        select count(*) from restroom
    </select>
	
</mapper>