<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.projectBG.BG.mapper.MapMapper">

	<select id="callPins" parameterType="java.math.BigDecimal" resultType="study.projectBG.BG.model.SimpleRestroomDTO">
		select id, restroom_name, wgs84_latitude, wgs84_longitude from restroom where wgs84_latitude between #{south} and #{north} and wgs84_longitude between #{west} and #{east};
	</select>
	
	<select id="callPins2" parameterType="java.math.BigDecimal" resultType="study.projectBG.BG.model.Restroom_SampleDTO">
		select * from restroom where wgs84_latitude between #{south} and #{north} and wgs84_longitude between #{west} and #{east};
	</select>
	
	<select id="shortestByMe" resultType="Integer">
		select id from
		(select id, sqrt(pow(wgs84_latitude - #{latitude}, 2) + pow(wgs84_longitude - #{longitude}, 2)) as len from restroom)
		as tt where len is not null order by len limit 1;
	</select>
	
	<select id="restroomRead" resultType="study.projectBG.BG.model.MapDTO">
		select * from restroom where id = #{id};
	</select>
	
</mapper>