<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.projectBG.BG.mappers.MemberMapper">
	<insert id="memberInsert">
		INSERT INTO memberTBL(user_id, user_nick, user_pw, user_Rpw, user_email, user_addr) 
		VALUES(#{user_id}, #{user_nick}, #{user_pw}, #{user_Rpw}, #{user_email}, #{user_addr})
	</insert>
	
	<!-- study.projectBG.BG.model.MemberDTO -->
	<select id="check_id" parameterType="String" resultType="Integer">
		SELECT count(*) cnt FROM memberTBL WHERE user_id = #{user_id}
	</select>
	
	<select id="check_nick" parameterType="String" resultType="Integer">
		SELECT count(*) cnt FROM memberTBL WHERE user_nick = #{user_nick}
	</select>
	
	<select id="check_email" parameterType="String" resultType="Integer">
		SELECT count(*) cnt FROM memberTBL WHERE user_email = #{user_email}
	</select>
	
	<select id="login" resultType="study.projectBG.BG.model.MemberDTO">
		select * from memberTBL where user_id = #{user_id}
	</select>
	
	<select id="getRealPassword" resultType="String">
		select user_pw from memberTBL where user_id=#{user_id}
	</select>
	
	<select id="memberRead" resultType="study.projectBG.BG.model.MemberDTO">
		SELECT * FROM memberTBL WHERE user_id = #{user_id}
	</select>
	
	<update id="memberUpdate">
		UPDATE memberTBL SET user_pw = #{user_pw}, user_Rpw = #{user_Rpw}, user_nick = #{user_nick}, user_addr = #{user_addr} WHERE user_id = #{user_id}
	</update>
	
	<delete id="memberDelete">
		DELETE FROM memberTBL WHERE user_id = #{user_id}
	</delete>
	

</mapper>